html, body {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	overflow: auto;
	margin: 0;
	padding: 0;
	height 100%;
	font-family: arial;		      
}

td.output a {
	cursor:pointer;
	text-decoration:underline
}	    
